{
  "apps": ["api", "worker"],
  "credentials": {
    "local": {
      "type": "",
      "project_id": "",
      "private_key_id": "",
      "private_key": "",
      "client_email": "",
      "client_id": "",
      "auth_uri": "",
      "token_uri": "",
      "auth_provider_x509_cert_url": "",
      "client_x509_cert_url": ""
    },
    "staging": {
      "type": "",
      "project_id": "",
      "private_key_id": "",
      "private_key": "",
      "client_email": "",
      "client_id": "",
      "auth_uri": "",
      "token_uri": "",
      "auth_provider_x509_cert_url": "",
      "client_x509_cert_url": ""
    },
    "production": {
      "type": "",
      "project_id": "",
      "private_key_id": "",
      "private_key": "",
      "client_email": "",
      "client_id": "",
      "auth_uri": "",
      "token_uri": "",
      "auth_provider_x509_cert_url": "",
      "client_x509_cert_url": ""
    }
  },
  "values": {
    "local": {
      "MIN_LOG_LEVEL": "DEBUG",
      "INTERNAL_AUTH_TOKEN": "",
      "BASIC_AUTH_USER": "",
      "BASIC_AUTH_PASSWORD": "",
      "DB_HOST": "tcp(127.0.0.1:3306)",
      "DB_USER": "root",
      "DB_PASSWORD": "password",
      "DB_DATABASE": "merlin"
    },
    "staging": {
      "MIN_LOG_LEVEL": "DEBUG",
      "INTERNAL_AUTH_TOKEN": "",
      "BASIC_AUTH_USER": "",
      "BASIC_AUTH_PASSWORD": "",
      "DB_HOST": "",
      "DB_USER": "",
      "DB_PASSWORD": "",
      "DB_DATABASE": ""
    },
    "production": {
      "MIN_LOG_LEVEL": "INFO",
      "INTERNAL_AUTH_TOKEN": "",
      "BASIC_AUTH_USER": "",
      "BASIC_AUTH_PASSWORD": "",
      "DB_HOST": "",
      "DB_USER": "",
      "DB_PASSWORD": "",
      "DB_DATABASE": ""
    }
  }
}
